[Unit]
Description=Puls Rynku fx CMS
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod /var/www/cms/target/citi.war
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target