[Unit]
Description=Puls Rynku fx CMS
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod /home/api/prod/app.war
SuccessExitStatus=143
User=ptheis

[Install]
WantedBy=multi-user.target